<ul class="list countries-list">
  {{#each this}}
  <li class="list-item">
    <img class="list-img" data-name="{{name}}" src="{{flag}}" alt="flag{{name}}" ">
      <h2 class='countries-title' data-name=" {{name}}">{{name}}</h2>


  </li>
  {{/each}}
</ul>